<h2>Quizze</h2>

<button (click)="newQuiz()" class="btn" ngbTooltip="New Quiz"><i class="bi bi-plus-circle"></i></button>

<div class="container">
    <div class="row g-3">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let quiz of session.quizzes">
            <div class="card" style="width: 100%; position: relative;">
                <button (click)="game.delete(quiz)" class="btn-close" style="position: absolute; top: 10px; right: 10px;" ngbTooltip="Delete"></button>
                
                <div class="card-body">
                    <h5 class="card-title">{{ quiz.title }}</h5>
                    <p class="card-text">{{ quiz.questions.length }} Questions</p>
                    <div class="btn-group">
                        <a (click)="game.edit(quiz)" class="btn btn-primary">Edit</a>
                        <a (click)="game.playOrResume(quiz)" class="btn btn-success"> {{ game.isGameActive(quiz) ? "Resume" : "Play" }}</a>
                        <a (click)="game.reset(quiz)" class="btn btn-danger" *ngIf="game.isGameActive(quiz)">Reset</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
