<h2>Quizze</h2>

<button (click)="newQuiz()" class="btn" ngbTooltip="New Quiz"><i class="bi bi-plus-circle"></i></button>

<div class="card" style="width: 18rem;" *ngFor="let quiz of session.quizzes">
    <div class="card-body">
        <h5 class="card-title">{{ quiz.title }}</h5>
        <p class="card-text">{{ quiz.questions.length }} Questions</p>
        <div class="btn-group">
            <a (click)="game.edit(quiz)" class="btn btn-primary">Edit</a>
            <a (click)="game.play(quiz)" class="btn btn-success">Play</a>
        </div>
    </div>
</div>